[defaults]
collections_paths = ./collections:~/.ansible/collections
roles_path = ./roles
filter_plugins = ./plugins/filter
stdout_callback = yaml
callbacks_enabled = profile_tasks

[privilege_escalation]
become = true
become_method = sudo
become_user = root
